<template name='studentsNew'>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Projects New</h2>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <div class="col-md-6">

        <form class="new-project">
          <br/>
          <label> Project Name </label>
          <input type="text" name="name" class="form-control">
          <br/>
          <label> Project Tagline </label>
          <input type="text" name="tagline" class="form-control">
          <br/>
          <label> Image URL </label>
          <input type="text" name="thumbnailUrl" class="form-control">
          <br/>
          <label> Project Story </label>
          <textarea name="story" class="form-control" rows="6"> </textarea>
          <br/>
          <label> Project Latitude </label>
          <input type="text" name="latitude" class="form-control">
          <br/>
          <label> Project Longitude </label>
          <input type="text" name="longitude" class="form-control">
          <br/>
          <label> Charity Goal </label>
          <input type="text" name="goal" class="form-control">
          <br/>
          <button type="submit" class="btn btn-success btn-lg" style="width:100%;">Create a Project</button>

        </form>
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->
</template>
