<template name='studentsNew'>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Students New</h2>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <div class="col-md-6">
        <form class="new-student">
          <br/>
          <label> Student Name </label>
          <input type="text" name="name" class="form-control">
          <br/>
          <label> Image URL </label>
          <input type="text" name="thumbnailUrl" class="form-control">
          <br/>
          <label> Student Story </label>
          <textarea name="story" class="form-control" rows="6"> </textarea>
          <br/>
          <label> Teacher Comments </label>
          <textarea name="teacher" class="form-control" rows="6"> </textarea>
          <br/>
          <label> Previous Achievements </label>
          <textarea name="previousachievements" class="form-control" rows="6"> </textarea>
          <br/>
          <label> Student Latitude </label>
          <input type="text" name="latitude" class="form-control">
          <br/>
          <label> Student Longitude </label>
          <input type="text" name="longitude" class="form-control">
          <br/>
          <label> Charity Goal </label>
          <input type="text" name="goal" class="form-control">
          <br/>
          <button type="submit" class="btn btn-success btn-lg" style="width:100%;">Create a Student</button>

        </form>
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->
</template>
