<template name='projectsNew'>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Projects New</h2>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <div class="col-md-6">

        <form class="new-project">
          <br/>
          <label> Project Name </label>
          <input type="text" name="name" class="form-control">
          <br/>
          <label> Project Tagline </label>
          <input type="text" name="tagline" class="form-control">
          <br/>
          <label> Project Story </label>
          <textarea name="story" class="form-control" rows="6"> </textarea>
          <br/>
          <label> Project Tagline </label>
          <input type="text" name="tagline" class="form-control">
        </form>
      </div><!-- col -->
    </div><!-- row -->




  </div><!-- container -->


</template>
