@import 'colors.css.scss';

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

.thin {
  font-weight: 300;
  color: $text-grey;
}

/** Modifications to Bootstrap  **/
.navbar {
  margin: 0;
  padding: 30px 0 15px;

}

.navbar-simple {
  a {
    color: $text-grey;
  }
}

.concern-text {
  color: $indonesian-red;
}
