@import 'colors.css.scss';
@import 'mixins.css.scss';

.milestone {
  @include bg-transition-ease;

  background-color: $light-green;
  color: $dark-green;
  margin-bottom: 20px;
  padding: 20px;

  p {
    font-size: 0.9em;
  }
}

.milestone:hover {
  background-color: $hover-light-green;
}
