.project-thumbnail {
  width: 100%;
  height: 190px;
}

.pt-large {
  height: 500px;
  position: relative;
}

.pt-med {
  height: 250px;
}

.panel-top {
  font-size:0.8em;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
