<template name="homepage">
  <div class="top-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          Homepage
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div>

  <br/>
  <br/>

  <div class="container">
    <div class="row">
      {{#each projects}}
        <a href="{{pathFor 'projectsShow'}}">
          <div class="col-md-4">
            {{> projectPanel}}
          </div><!-- col -->
        </a>
      {{/each}}
    </div><!-- row -->
  </div><!-- container -->
</template>
