<template name="homepage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{> heatmap options=mapOptions points=mapPoints markers=mapMarkers}}
        <br/>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      {{#each students}}
        <a href="{{pathFor 'studentsShow'}}">
          <div class="col-md-4">
            {{>studentPanel}}
          </div><!-- col -->
        </a>
      {{/each}}
      {{#each projects}}
        <a href="{{pathFor 'projectsShow'}}">
          <div class="col-md-4">
            {{> projectPanel}}
          </div><!-- col -->
        </a>
      {{/each}}
    </div><!-- row -->
  </div><!-- container -->
</template>
