<template name='projectsIndex'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <h2>Proyeks</h2>
          <br/>
        </div>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      {{#each this}}
        <a href="{{pathFor 'projectsShow'}}">
          <div class="col-md-4">
            {{>projectPanel}}
          </div><!-- col -->
        </a>
      {{/each}}
    </div><!-- row -->
  </div><!-- container -->
</template>
