<template name='projectsShow'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>{{name}}</h2>
          <p class="concern-text"> This project is in a high-risk area. More funding here will have a good long term impact. </p>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <div class="col-md-8">
        <div class="project-thumbnail pt-large" style="background: url({{thumbnailUrl}}) no-repeat center center;  background-size: cover; ">
          <div class="tagline-area">
            {{tagline}}
          </div>
        </div>
        <br/>
      </div><!-- col -->
      <div class="col-md-4">
        {{> fundingChart}}
        <br/>
        {{> donateForm}}
      </div>
    </div><!-- row -->
    <div class="row">
      <div class="col-md-8">
        <h3>Project Story</h3>
        <hr/>
        <div class="project-story">
          {{{story}}}
        </div>
        <br/>
        <br/>
        <h3> Region: </h3>
        <hr/>
        <div class="project-thumbnail">
          {{> heatmap options=heatmapOptions}}
        </div>
      </div><!-- col -->
      <div class="col-md-4">
        <h3>Milestones:</h3>
        <hr/>
        {{> milestone}}
        {{> milestone}}
        {{> milestone}}
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->

</template>
